.box {
    width: 50px;
    height: 50px;
}

td {
    height: 300px;
}

.F .box {
    background-color: brown;
}

.F :nth-child(2) {
    margin-left: 50px; 
    margin-top: -52px;
}

.F.flipped :nth-child(2) {
    margin-left: -52px; 
    margin-top: -52px;
}

.F :nth-child(4) {
    margin-left: -52px; 
    margin-top: -52px;
}

.F.flipped :nth-child(4) {
    margin-left: 50px; 
    margin-top: -52px;
}

.I .box {
    background-color: pink;
}

.L .box {
    background-color: #DD5454;
}

.L :nth-child(5) {
    margin-left: 50px; 
    margin-top: -52px;
}

.L.flipped :nth-child(5) {
    margin-left: -52px; 
    margin-top: -52px;
}

.N .box {
    background-color: purple;
}

.N :nth-child(4) {
    margin-left: 50px; 
    margin-top: -52px;
}

.N.flipped :nth-child(4) {
    margin-left: -52px; 
    margin-top: -52px;
}

.N :nth-child(5) {
    margin-left: 50px; 
}

.N.flipped :nth-child(5) {
    margin-left: -52px;
}

.P .box {
    background-color: yellow;
}

.P :nth-child(4) {
    margin-left: 50px; 
    margin-top: -103px;
}

.P.flipped :nth-child(4) {
    margin-left: -52px; 
    margin-top: -103px;
}

.P :nth-child(5) {
    margin-left: 50px; 
}

.P.flipped :nth-child(5) {
    margin-left: -52px;
}

.T .box {
    background-color: white;
}

.T :nth-child(4) {
    margin-left: 50px; 
    margin-top: -154px;
}

.T :nth-child(5) {
    margin-left: -52px; 
    margin-top: -52px;
}

.U .box {
    background-color: gray;
}

.U :nth-child(2) {
    margin-left: 50px; 
    margin-top: -52px;
}

.U :nth-child(5) {
    margin-left: 50px; 
    margin-top: -52px;
}

.V .box {
    background-color: blue;
}

.V :nth-child(4) {
    margin-left: 50px; 
    margin-top: -52px;
}

.V.flipped :nth-child(4) {
    margin-left: -52px; 
    margin-top: -52px;
}

.V :nth-child(5) {
    margin-left: 101px; 
    margin-top: -52px; 
}

.V.flipped :nth-child(5) {
    margin-left: -102px;
    margin-top: -52px; 
}

.Y .box {
    background-color: green;
}

.Y :nth-child(4) {
    margin-left: 50px; 
    margin-top: -52px;
}

.Y.flipped :nth-child(4) {
    margin-left: -52px; 
    margin-top: -52px;
}

.box {
    border: 1px solid black; //#AAA;
    margin: -1px;
}


.container {
    height: 0px;
    width: 0px;
    position: relative;
    margin: 60px;
}

body {
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/light_checkered_tiles.png");
    font-size: 0px;
}