.box {
    width: 50px;
    height: 50px;
}

.L .box {
    background-color: green;

}

.L :nth-child(5) {
    margin-left: 50px; 
    margin-top: -50px;
}

.L.flipped :nth-child(5) {
    margin-left: -50px; 
    margin-top: -50px;
}

.red .box {
    background-color: red;
}

.box {
    outline:1px solid black;
}


.container {
    height: 0px;
    width: 0px;
    position: relative;
    margin: 100px;
}

body {
    font-size: 0px;
}