.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

.piece {
    display: block;
    position: relative;
}

.container {
    height: 50px;
    width: 50px;
    position: absolute;
}